{% extends '_base.html' %}

{% load static %}
{% load i18n %}

{% block page_title %}
    {% trans 'Leave Answer' %}
{% endblock %}

{% block custom_css %}
    <link href="{% static 'css/leave_review.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main>


	<div class="container margin_60_35">

			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="write_review">
						<h1>{{ question.text }}</h1>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="rating_submit">
							<div class="form-group">
                            </div>
                            </div>
                            <!-- /rating_submit -->
                            <div class="form-group">
                                <label>{% trans 'Your answer' %}</label>
                                <textarea class="form-control" name="text" style="height: 180px;" placeholder="{% trans 'Write your question answer' %}"></textarea>
                            </div>
                            <input type="submit" class="btn_1" value="{% trans 'Submit answer' %}">
                        </form>
					</div>
				</div>
		</div>
		<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
{% endblock %}