{% extends '_base.html' %}

{% load static %}
{% load product_tags %}
{% load humanize %}
{% load i18n %}

{% block custom_css %}
    <link href="{% static 'css/product_page.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %}
    {% trans 'Poduct Detail' %} {{ product.title }}
{% endblock %}



{% block content %}

    <main>
        <div class="container margin_30">
            <div class="row">
                {% with images=product.images.all %}
                    <div class="col-md-6">
                        <div class="all">
                            <div class="slider">
                                <div class="owl-carousel owl-theme main">
                                    {% for image in images %}
                                        <div style="background-image: url({{ image.image.url }});"
                                             class="item-box"></div>
                                    {% endfor %}

                                </div>
                                <div class="left nonl"><i class="ti-angle-left"></i></div>
                                <div class="right"><i class="ti-angle-right"></i></div>
                            </div>
                            <div class="slider-two">
                                <div class="owl-carousel owl-theme thumbs">
                                    {% for image in images %}
                                        <div style="background-image: url({{ image.image.url }});" class="item"></div>
                                    {% endfor %}
                                </div>
                                <div class="left-t nonl-t"></div>
                                <div class="right-t"></div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
                <div class="col-md-6">
                    <!-- /page_header -->
                    <div class="prod_info">
                        <h1>{{ product.title }}</h1>
                        <span class="rating">
                            <i class="icon-star voted"></i><em>{{ product.average_rate|default:0 }}</em>
                            <br>
                            <em>{{ product.comment_count|default:0 }} {% trans 'reviews' %}</em></span>
                        <p><small>{% trans 'SKU' %}: {{ product.sku }}</small><br>{{ product.summary }}</p>
                        {% if product.num_stock %}
                        <form action="{% url 'cart:add' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="prod_options">
                                <div class="row">
                                    <label class="col-xl-5 col-lg-5  col-md-6 col-6"><strong>{% trans 'Quantity' %}</strong></label>
                                    <div class="col-xl-4 col-lg-5 col-md-6 col-6">
                                        <div class="numbers-row">
                                            <input type="text" value="1" min="1" max="{{ product.num_stock }}" id="quantity_1" class="qty2" name="quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="price_main">
                                        {% if product.discount %}
                                            <span class="new_price">{% trans '$' %}{{ product.final_price|persian_number|intcomma:False }}</span>
                                            <span class="percentage">-{{ product.discount }}%</span>
                                            <span class="old_price">{% trans '$' %}{{ product.sale_price|persian_number|intcomma:False }}</span>
                                        {% else %}
                                            <span class="new_price">{% trans '$' %}{{ product.sale_price|persian_number|intcomma:False }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="btn_add_to_cart">
                                        <button type="submit" class="btn_1">{% trans 'Add To Cart' %}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% else %}
                        <p>{% trans 'Unavailable' %}</p>
                        {% endif %}
                    </div>
                    <!-- /prod_info -->
                    <div class="product_actions">
                        <ul>
                            <form action="{% url 'products:add_favorite' product.id %}" method="POST">
                                {% csrf_token %}
                                <li>
                                    <input type="submit" 
                                    value="{% if user not in add_to_wishlist %}{% trans 'Add To Wishlist' %}{% else %}{% trans 'Remove From Wishlist' %}{% endif %}" 
                                    class="btn btn-primary btn-sm">
                                </li>
                            </form>
                        </ul>
                    </div>
                    <!-- /product_actions -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->

        <div class="tabs_product">
            <div class="container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a id="tab-A" href="#pane-A" class="nav-link active" data-bs-toggle="tab"
                           role="tab">{% trans 'Description' %}</a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-B" href="#pane-B" class="nav-link" data-bs-toggle="tab" role="tab">{% trans 'Reviews' %}</a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-B" href="#pane-C" class="nav-link" data-bs-toggle="tab" role="tab">{% trans 'Question And Answer' %}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /tabs_product -->
        <div class="tab_content_wrapper">
            <div class="container">
                <div class="tab-content" role="tablist">
                    <div id="pane-A" class="card tab-pane fade active show" role="tabpanel" aria-labelledby="tab-A">
                        <div class="card-header" role="tab" id="heading-A">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-A" aria-expanded="false"
                                   aria-controls="collapse-A">
                                    {% trans 'Description' %}
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-A" class="collapse" role="tabpanel" aria-labelledby="heading-A">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-lg-6">
                                        <h3>{% trans 'Details' %}</h3>
                                        <p>{{ product.description }}</p>
                                    </div>
                                    {% for attribute in product.attributes.all %}
                                        <div class="col-lg-12">
                                            <h3>{{ attribute.title }}</h3>
                                            <div class="table-responsive">
                                                <table class="table table-sm table-striped">
                                                    <tbody>
                                                    {% for option in attribute.options.all %}
                                                        <tr>
                                                            <td><strong>{{ option.title }}</strong></td>
                                                            {% for value in option.values.all %}
                                                                <td>{{ value.description }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /TAB A -->
                    <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                        <div class="card-header" role="tab" id="heading-B">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-B" aria-expanded="false"
                                   aria-controls="collapse-B">
                                    {% trans 'Reviews' %}
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    {% for comment in product.comments.all %}
                                        <div class="col-lg-6">
                                            <div class="review_content">
                                                <div class="clearfix add_bottom_10">
                                                    <span class="rating-1">
                                                        <i class="{% if comment.rate >= 1 %}icon-star{% endif %}"></i>
                                                        <i class="{% if comment.rate >= 2 %}icon-star{% endif %}"></i>
                                                        <i class="{% if comment.rate >= 3 %}icon-star{% endif %}"></i>
                                                        <i class="{% if comment.rate >= 4 %}icon-star{% endif %}"></i>
                                                        <i class="{% if comment.rate >= 5 %}icon-star{% endif %}"></i>
                                                    </span>
                                                    <em>{{ comment.created|date:"b d, Y" }}</em>
                                                </div>
                                                <h4>"{{ comment.title }}"</h4>
                                                <p>{{ comment.body }}</p>
                                                <p>{% trans 'Author' %}: {{ comment.author }}</p>
                                                <a href="{% url 'comments:like' comment.id 'like' %}">
                                                    <i class="fa-solid fa-thumbs-up"></i>
                                                    <small>{{ comment.count_likes }}</small>
                                                </a>
                                                <a href="{% url 'comments:like' comment.id 'dislike' %}">
                                                    <i class="fa-solid fa-thumbs-down"></i>
                                                    <small>{{ comment.count_dislikes }}</small>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- /row -->
                                <p class="text-end"><a href="{% url 'comments:create' product.id %}" class="btn_1">{% trans 'Leave a review' %}</a></p>
                            </div>
                            <!-- /card-body -->
                        </div>
                    </div>
                    <!-- /tab B -->
                    <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                        <div class="card-header" role="tab" id="heading-B">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-B" aria-expanded="false"
                                   aria-controls="collapse-B">
                                    {% trans 'Question And Answer' %}
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    {% for question in product.product_questions.all %}
                                        <div class="col-lg-6">
                                            <div class="review_content">
                                                <div class="clearfix add_bottom_10">
                                                    <em>{{ question.created|date:"b d, Y" }}</em>
                                                </div>
                                                <p>{{ question.text }}</p>
                                                <p>{% trans 'Question Author' %}: {{ question.author }}</p>
                                                {% for answer in question.question_answers.all %}
                                                    <p>{% trans 'answer' %}: {{ answer.text }}</p>
                                                    <p>{% trans 'Answer Author' %}: {{ answer.author }}</p>
                                                {% endfor %}
                                                <a href="{% url 'qas:answer_create' question.id %}" class="btn_1">{% trans 'Leave a Answer' %}</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- /row -->
                                <p class="text-end"><a href="{% url 'qas:question_create' product.id %}" class="btn_1">{% trans 'Leave a Question' %}</a></p>
                            </div>
                            <!-- /card-body -->
                        </div>
                    </div>
                    <!-- /tab C -->
                </div>
                <!-- /tab-content -->
            </div>
            <!-- /container -->
        </div>
        <!-- /tab_content_wrapper -->

        <div class="container margin_60_35">
            <div class="main_title">
                <h2>{% trans 'Related' %}</h2>
                <span>{% trans 'Products' %}</span>
            </div>
            <div class="owl-carousel owl-theme products_carousel">

                {% for product in similar_products %}
                    <div class="item">
                        <div class="grid_item">
                            {% if product.discount %}
                                <span class="ribbon off">-{{ product.discount }}%</span>
                            {% endif %}
                            <figure>
                                <a href="{{ product.get_absolute_url }}">
                                    <img class="owl-lazy"
                                         data-src="{{ product.main_cover.url }}" alt="">
                                </a>
                            </figure>
                            {% if product.num_stock <= product.threshold_low_stock %}
                            <p class="text-danger">{{ product.num_stock }} {% trans 'in stock' %}</p>
                            {% endif %}
                            <a href="{{ product.get_absolute_url }}">
                                <h3>{{ product.title }}</h3>
                            </a>
                            {% if product.num_stock %}
                            <div class="price_box">
                                {% if product.discount %}
                                <span class="new_price">{% trans '$' %}{{ product.final_price }}</span>
                                <span class="old_price">{% trans '$' %}{{ product.sale_price }}</span>
                                {% else %}
                                <span class="new_price">{% trans '$' %}{{ product.sale_price }}</span>
                                {% endif %}
                            </div>
                            <div class="price_box">
                                <form action="{% url 'cart:add' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-primary btn-sm" value="{% trans 'Add To Cart' %}">
                                    <input type="hidden" name="quantity" value="1">
                                </form>
                            </div>
                            {% else %}
                            <div class="price_box">
                                <span class="new_price">{% trans 'Unavailable' %}</span>
                            </div>
                            {% endif %}
                            <ul>
                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"
                                       title="Add to favorites"><i class="ti-heart"></i><span>Add to favorites</span></a>
                                </li>
                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"
                                       title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a>
                                </li>
                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"
                                       title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a></li>
                            </ul>
                        </div>
                        <!-- /grid_item -->
                    </div>
                    <!-- /item -->
                {% endfor %}

            </div>
            <!-- /products_carousel -->
        </div>
        <!-- /container -->

        <div class="feat">
            <div class="container">
                <ul>
                    <li>
                        <div class="box">
                            <i class="ti-gift"></i>
                            <div class="justify-content-center">
                                <h3>Free Shipping</h3>
                                <p>For all oders over $99</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <i class="ti-wallet"></i>
                            <div class="justify-content-center">
                                <h3>Secure Payment</h3>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <i class="ti-headphone-alt"></i>
                            <div class="justify-content-center">
                                <h3>24/7 Support</h3>
                                <p>Online top support</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--/feat-->

    </main>
    <!-- /main -->

{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/carousel_with_thumbs.js' %}"></script>
{% endblock %}