{% extends '_base.html' %}

{% load static %}
{% load product_tags %}
{% load humanize %}
{% load i18n %}

{% load jalali_tags %}

{% block custom_css %}
    <link href="{% static 'css/checkout.css' %}" rel="stylesheet">
{% endblock %}

{% block page_header %}
    {% trans 'Order Page' %}
{% endblock %}

{% block content %}
    <main class="bg_gray">
        <div class="container margin_30">
            <!-- /page_header -->
            <form action="" method="POST">
                {% csrf_token %}
                {% if order_form.errors %}
                    <div class="alert alert-danger">
                        {{ order_form.errors }}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="step first">
                            <h3>1. {% trans 'Order Note' %}</h3>
                            <div class="tab-content checkout">
                                <div class="tab-pane fade show active" id="tab_1" role="tabpanel"
                                     aria-labelledby="tab_1">
                                    <div class="form-group">
                                        <textarea type="text" class="form-control" placeholder="{% trans 'Note' %}"
                                                  name="notes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /step -->

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="step last">
                            <h3>2. {% trans 'Order Summary And Payment' %}</h3>
                            <div class="box_general summary">

                                <ul>
                                    {% for item in cart %}
                                        <li class="clearfix"><em>{{ item.quantity }}x {{ item.product_obj.title }}</em>
                                            <span>{% trans '$' %}{{ item.price|persian_number|intcomma:False }}</span></li>
                                    {% endfor %}
                                </ul>

                                {% if cart.coupon %}
                                    
                                    <ul>
                                        <li class="clearfix">
                                            <em><strong>{% trans 'Subtotal' %}</strong></em>
                                            <span>{% trans '$' %}{{ cart.get_total_price|persian_number|intcomma:False }}</span>
                                        </li>
                                        
                                        <li class="clearfix">
                                            <em><strong>
                                                "{{ cart.coupon.code }}" {% trans 'coupon' %}
						                        ({{ cart.coupon.discount }}% {% trans 'off' %})
                                            </strong></em>
                                            <span>- {% trans '$' %}{{ cart.get_discount|persian_number|intcomma:False }}</span>
                                        </li>
                                    </ul>

                                {% endif %}

                                <ul>
                                    <li class="clearfix"><em><strong>{% trans 'Delivery Date' %}</strong></em>
                                        <span>{{ shipping.delivery_date|to_jalali:'%Y/%m/%d' }} {% trans 'in' %} {{ shipping.delivery_time_slot }}</span></li>
                                    </ul>
                                    
                                <div class="total clearfix">{% trans 'TOTAL' %} <span>{% trans '$' %}{{ cart.get_total_price_after_discount|persian_number|intcomma:False }}</span></div>

                                    <input type="submit" class="btn_1 full-width" value="{% trans 'Payment' %}">
                                </div>
                                <!-- /box_general -->

                            </div>
                            <!-- /step -->
                        </div>
                    </div>
                    <!-- /row -->
                </form>
            </div>
            <!-- /container -->
        </main>
    <!--/main-->
{% endblock %}