{% load i18n %}

<html>
    <body>
        <h1>{% trans 'My Shop' %}</h1>
        <p>
            {% trans 'Invoice no.' %} {{ order.id }}<br>
            <span class="secondary">
                {{ order.created|date:"M d, Y" }}
            </span>
        </p>
        <h3>{% trans 'Bill to' %}</h3>
        <p>
            {{ order.shipping.address.receiver_first_name }} {{ order.shipping.address.receiver_last_name }}<br>
            {{ order.shipping.address.address }}<br>
            {{ order.shipping.address.postal_code }}, {{ order.shipping.address.city }}
        </p>
        <h3>{% trans 'Items bought' %}</h3>
        <table>
            <thead>
                <tr>
                    <th>{% trans 'Product' %}</th>
                    <th>{% trans 'Price' %}</th>
                    <th>{% trans 'Quantity' %}</th>
                    <th>{% trans 'Cost' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr class="row{% cycle "1" "2" %}">
                    <td>{{ item.product.title }}</td>
                    <td class="num">{% trans '$' %}{{ item.price }}</td>
                    <td class="num">{{ item.quantity }}</td>
                    <td class="num">{% trans '$' %}{{ item.get_price }}</td>
                </tr>
                {% endfor %}

                {% if order.coupon %}
                <tr class="subtotal">
                    <td colspan="3">{% trans 'Subtotal' %}</td>
                    <td class="num">
                        {% trans '$' %}{{ order.get_total_price_before_discount }}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        "{{ order.coupon.code }}" {% trans 'coupon' %}
                        ({{ order.discount }}% {% trans 'off' %})
                    </td>
                    <td class="num neg">
                        - {% trans '$' %}{{ order.get_discount }}
                    </td>
                </tr>
                {% endif %}

                <tr class="total">
                    <td colspan="3">{% trans 'Total' %}</td>
                    <td class="num">{% trans '$' %}{{ order.get_total_price }}</td>
                </tr>
            </tbody>
        </table>

        <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
            {% if order.is_paid %}
            {% trans 'Paid' %}
            {% else %}
            {% trans 'Pending payment' %}
            {% endif %}
        </span>
    </body>
</html>