{% extends '_base.html' %}

{% load static %}
{% load product_tags %}
{% load humanize %}
{% load i18n %}

{% block custom_css %}
<link href="{% static 'css/listing.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %}
{% trans 'Products List' %}
{% endblock %}

{% block content %}
<main>

    <div id="stick_here"></div>
    <div class="toolbox elemento_stick">
        <div class="container">
            <ul class="clearfix">
                <form action="" method="GET" id="sortForm">
                    <li>
                        <div class="sort_select">
                            <select name="sort" id="sort">
                                <option value="">{% trans 'sorting' %}</option>
                                {% for value, label in sort_form.fields.field.choices %}
                                <option value="{{ value }}"{% if value == sort_form.data.field %}selected="selected"{% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                </form>
                <li>
                    <a data-bs-toggle="collapse" href="#filters" role="button"
                        aria-expanded="false"
                        aria-controls="filters">
                        <i class="ti-filter"></i><span>{% trans 'Filters' %}</span>
                    </a>
                </li>
            </ul>
            <div class="collapse" id="filters">
                <div class="row small-gutters filters_listing_1">
                    <form action method="GET">
                        {{ filter.form.as_p }}
                        <input type="submit" value="{% trans 'Apply' %}"
                            class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /toolbox -->

    <div class="container margin_30">
        <div class="row small-gutters">

            {% for product in products %}
            <div class="col-6 col-md-4 col-xl-3">
                <div class="grid_item">
                    <figure>
                        {% if product.discount %}
                        <span class="ribbon off">-{{ product.discount }}%</span>
                        {% endif %}
                        <a href="{{ product.get_absolute_url }}">
                            <img class="img-fluid lazy"
                                data-src="{{ product.main_cover.url }}" alt>
                        </a>
                    </figure>
                    {% if product.num_stock <= product.threshold_low_stock %}
                    <p class="text-danger">{{ product.num_stock }} {% trans 'in stock' %}</p>
                    {% endif %}
                    <a href="{{ product.get_absolute_url }}">
                        <h3>{{ product.title }}</h3>
                    </a>
                    {% if product.num_stock %}
                    <div class="price_box">
                        {% if product.discount %}
                        <span class="new_price">{% trans '$' %}{{ product.final_price|persian_number|intcomma:False }}</span>
                        <span class="old_price">{% trans '$' %}{{ product.sale_price|persian_number|intcomma:False }}</span>
                        {% else %}
                        <span class="new_price">{% trans '$' %}{{ product.sale_price|persian_number|intcomma:False }}</span>
                        {% endif %}
                    </div>
                    <div class="price_box">
                        <form action="{% url 'cart:add' product.id %}"
                            method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary btn-sm"
                                value="{% trans 'Add To Cart' %}">
                            <input type="hidden" name="quantity" value="1">
                        </form>
                    </div>
                    {% else %}
                    <div class="price_box">
                        <span class="new_price">{% trans 'Unavailable' %}</span>
                    </div>
                    {% endif %}
                </div>
                <!-- /grid_item -->
            </div>
            <!-- /col -->
            {% endfor %}

        </div>
        <!-- /row -->

        {% include 'partials/_pagination.html' %}

    </div>
    <!-- /container -->
</main>
<!-- /main -->
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/specific_listing.js' %}"></script>
<script src="{% static 'js/sticky_sidebar.min.js' %}"></script>

<script>
    document.getElementById("sort").addEventListener("change", function() {
        document.getElementById("sortForm").submit();
    });
</script>
{% endblock %}