{% extends '_base.html' %}

{% load static %}
{% load product_tags %}
{% load humanize %}
{% load i18n %}

{% load jalali_tags %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">

    <link href="{% static 'css/checkout.css' %}" rel="stylesheet">
{% endblock %}

{% block page_header %}
    {% trans 'Shipping Page' %}
{% endblock %}

{% block content %}
    <main class="bg_gray">
        <div class="container margin_30">
            <!-- /page_header -->
            {% if shipping_form.errors %}
                <div class="alert alert-danger">
                    {{ shipping_form.errors }}
                </div>
            {% endif %}
            {% if address_form.errors %}
                <div class="alert alert-danger">
                    {{ address_form.errors }}
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="step first">
                        <h3>1. {% trans 'User Info and Billing address' %}</h3>
                        <ul class="nav nav-tabs" id="tab_checkout" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#tab_1"
                                    role="tab" aria-controls="tab_1" aria-selected="true">{% trans 'Add New Address' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab_2" role="tab"
                                    aria-controls="tab_2" aria-selected="false">{% trans 'Choose A Address' %}</a>
                            </li>
                        </ul>
                        <form action="{% url 'shipping:address_create' %}" method="POST">
                            {% csrf_token %}
                            <div class="tab-content checkout">
                                <div class="tab-pane fade show active" id="tab_1" role="tabpanel"
                                    aria-labelledby="tab_1">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="{% trans 'First Name' %}"
                                            name="receiver_first_name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="{% trans 'Last Name' %}"
                                            name="receiver_last_name">
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="{% trans 'Full Address' %}"
                                            name="address">
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-6 form-group pr-1">
                                            <input type="text" class="form-control" placeholder="{% trans 'City' %}" name="city">
                                        </div>
                                        <div class="col-6 form-group pr-1">
                                            <input type="text" class="form-control" placeholder="{% trans 'Province' %}"
                                                name="province">
                                        </div>
                                        <div class="col-6 form-group pr-1">
                                            <input type="text" class="form-control" placeholder="{% trans 'Building Number' %}"
                                                name="building_number">
                                        </div>
                                        <div class="col-6 form-group pr-1">
                                            <input type="text" class="form-control" placeholder="{% trans 'Unit' %}" name="unit">
                                        </div>
                                        <div class="col-6 form-group pl-1">
                                            <input type="text" class="form-control" placeholder="{% trans 'Postal code' %}"
                                                name="postal_code">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="{% trans 'Telephone' %}" name="mobile">
                                    </div>
                                    <hr>
                                    <div id="other_addr_c" class="pt-2">
                                        <div class="row no-gutters">
                                            <div class="col-6 form-group pr-1">
                                                <input type="text" class="form-control" placeholder="{% trans 'Name' %}">
                                            </div>
                                            <div class="col-6 form-group pl-1">
                                                <input type="text" class="form-control" placeholder="{% trans 'Last Name' %}">
                                            </div>
                                        </div>
                                        <!-- /row -->
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="{% trans 'Full Address' %}">
                                        </div>
                                        <div class="row no-gutters">
                                            <div class="col-6 form-group pr-1">
                                                <input type="text" class="form-control" placeholder="{% trans 'City' %}">
                                            </div>
                                            <div class="col-6 form-group pl-1">
                                                <input type="text" class="form-control" placeholder="{% trans 'Postal code' %}">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn_1 full-width" value="{% trans 'Save Address' %}">
                                </div>
                            </form>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="tab_2"
                                    style="position: relative;">
                                    <div class="row no-gutters">
                                        <div class="col-md-12 form-group">
                                            <div class="custom-select-form">
                                                <select class="wide add_bottom_15" name="address" id="country">
                                                    {% for choice in shipping_form.address.field.queryset %}
                                                        <option value="{{ choice.pk }}">{{ choice }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /tab_2 -->
                            </div>
                        </div>
                    <!-- /step -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="step first">
                            <h3>2. {% trans 'Shipping' %}</h3>
                            <div class="tab-content checkout">
                                <div class="tab-pane fade show active" id="tab_1" role="tabpanel"
                                     aria-labelledby="tab_1">
                                    <div class="form-group">
                                        <input type="text" class="jalali_date-date form-control" placeholder="{% trans 'Calendar' %}"
                                               name="delivery_date">
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-md-12 form-group">
                                            <div class="custom-select-form">
                                                <select class="wide add_bottom_15" name="delivery_time_slot"
                                                        id="country">
                                                    {% for choice in shipping_form.delivery_time_slot.field.queryset %}
                                                        <option value="{{ choice.pk }}">{{ choice }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /step -->

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="step last">
                            <h3>3. {% trans 'Order Summary' %}</h3>
                            <div class="box_general summary">

                                <ul>
                                    {% for item in cart %}
                                        <li class="clearfix"><em>{{ item.quantity }}x {{ item.product_obj.title }}</em>
                                            <span>{% trans '$' %}{{ item.price|persian_number|intcomma:False }}</span></li>
                                    {% endfor %}
                                </ul>

                                {% if cart.coupon %}
                                    
                                    <ul>
                                        <li class="clearfix">
                                            <em><strong>{% trans 'Subtotal' %}</strong></em>
                                            <span>{% trans '$' %}{{ cart.get_total_price|persian_number|intcomma:False }}</span>
                                        </li>
                                        
                                        <li class="clearfix">
                                            <em><strong>
                                                "{{ cart.coupon.code }}" {% trans 'coupon' %}
						                        ({{ cart.coupon.discount }}% {% trans 'off' %})
                                            </strong></em>
                                            <span>- {% trans '$' %}{{ cart.get_discount|persian_number|intcomma:False }}</span>
                                        </li>
                                    </ul>

                                {% endif %}


                                <div class="total clearfix">{% trans 'TOTAL' %} <span>{% trans '$' %}{{ cart.get_total_price_after_discount|persian_number|intcomma:False }}</span></div>

                                    <input type="submit" class="btn_1 full-width" value="{% trans 'Confirm' %}">
                                </div>
                                <!-- /box_general -->
                            </div>
                            <!-- /step -->
                        </div>
                    </div>
                    <!-- /row -->
                </form>
            </div>
            <!-- /container -->
        </main>
    <!--/main-->
{% endblock %}

{% block custom_js %}
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}
