{% extends '_base.html' %}

{% load static %}

{% load jalali_tags %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">

    <link href="{% static 'css/checkout.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main class="bg_gray">
        <div class="container margin_30">
            <div class="page_header">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li>Page active</li>
                    </ul>
                </div>
                <h1>Sign In or Create an Account</h1>

            </div>
            <!-- /page_header -->
            <form action="" method="POST">
                {% csrf_token %}
                {% if shipping_form.errors %}
                    <div class="alert alert-danger">
                        {{ shipping_form.errors }}
                    </div>
                {% endif %}
                {% if address_form.errors %}
                    <div class="alert alert-danger">
                        {{ address_form.errors }}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="step first">
                            <h3>1. User Info and Billing address</h3>
                            <ul class="nav nav-tabs" id="tab_checkout" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#tab_1"
                                       role="tab" aria-controls="tab_1" aria-selected="true">Add New Address</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab_2" role="tab"
                                       aria-controls="tab_2" aria-selected="false">Choose A Address</a>
                                </li>
                            </ul>
                            <div class="tab-content checkout">
                                <div class="tab-pane fade show active" id="tab_1" role="tabpanel"
                                     aria-labelledby="tab_1">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="First Name"
                                               name="receiver_first_name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Last Name"
                                               name="receiver_last_name">
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Full Address"
                                               name="address">
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-6 form-group pr-1">
                                            <input type="text" class="form-control" placeholder="City" name="city">
                                        </div>
                                        <div class="col-6 form-group pr-1">
                                            <input type="text" class="form-control" placeholder="Province"
                                                   name="province">
                                        </div>
                                        <div class="col-6 form-group pr-1">
                                            <input type="text" class="form-control" placeholder="Building Number"
                                                   name="building_number">
                                        </div>
                                        <div class="col-6 form-group pr-1">
                                            <input type="text" class="form-control" placeholder="Unit" name="unit">
                                        </div>
                                        <div class="col-6 form-group pl-1">
                                            <input type="text" class="form-control" placeholder="Postal code"
                                                   name="postal_code">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Telephone" name="mobile">
                                    </div>
                                    <hr>
                                    <div id="other_addr_c" class="pt-2">
                                        <div class="row no-gutters">
                                            <div class="col-6 form-group pr-1">
                                                <input type="text" class="form-control" placeholder="Name">
                                            </div>
                                            <div class="col-6 form-group pl-1">
                                                <input type="text" class="form-control" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <!-- /row -->
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Full Address">
                                        </div>
                                        <div class="row no-gutters">
                                            <div class="col-6 form-group pr-1">
                                                <input type="text" class="form-control" placeholder="City">
                                            </div>
                                            <div class="col-6 form-group pl-1">
                                                <input type="text" class="form-control" placeholder="Postal code">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="tab_2"
                                     style="position: relative;">
                                    <div class="row no-gutters">
                                        <div class="col-md-12 form-group">
                                            <div class="custom-select-form">
                                                <select class="wide add_bottom_15" name="address" id="country">
                                                    {% for choice in shipping_form.address.field.queryset %}
                                                        <option value="{{ choice.pk }}">{{ choice }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /tab_2 -->
                            </div>
                        </div>
                        <!-- /step -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="step first">
                            <h3>2. Shipping</h3>
                            <div class="tab-content checkout">
                                <div class="tab-pane fade show active" id="tab_1" role="tabpanel"
                                     aria-labelledby="tab_1">
                                    <div class="form-group">
                                        <input type="text" class="jalali_date-date form-control" placeholder="Calendar"
                                               name="delivery_date">
                                    </div>
                                    {% if shipping_form.delivery_time_slot.errors %}
                                        <p>{{ shipping_form.delivery_time_slot.errors }}</p>
                                    {% endif %}
                                    <div class="row no-gutters">
                                        <div class="col-md-12 form-group">
                                            <div class="custom-select-form">
                                                <select class="wide add_bottom_15" name="delivery_time_slot"
                                                        id="country">
                                                    {% for choice in shipping_form.delivery_time_slot.field.queryset %}
                                                        <option value="{{ choice.pk }}">{{ choice }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /step -->

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="step last">
                            <h3>3. Order Summary</h3>
                            <div class="box_general summary">

                                <ul>
                                    {% for item in cart %}
                                        <li class="clearfix"><em>{{ item.quantity }}x {{ item.product_obj.title }}</em>
                                            <span>${{ item.price }}</span></li>
                                    {% endfor %}
                                </ul>

                                <ul>
                                    <li class="clearfix"><em><strong>Subtotal</strong></em>
                                        <span>${{ cart.get_total_price }}</span></li>
                                </ul>
                                <div class="total clearfix">TOTAL <span>${{ cart.get_total_price }}</span></div>

                                    <input type="submit" class="btn_1 full-width" value="Confirm">
                                </div>
                                <!-- /box_general -->
                            </div>
                            <!-- /step -->
                        </div>
                    </div>
                    <!-- /row -->
                </form>
            </div>
            <!-- /container -->
        </main>
    <!--/main-->
{% endblock %}

{% block custom_js %}
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}
